:root {
  /* Colors */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #fff;

  /* Spacing */
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-1600: 128px;
}

html {
  font-size: 16px;
}

.text-preset-1 {
  font-family: "Young Serif";
  /* font-size: 40px; */
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 400;
}

.text-preset-2 {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-4-bold {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

body {
  background-color: var(--stone-100);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  background-color: var(--white);
  border-radius: 24px;

  margin-top: var(--spacing-1600);
  width: 100%; /* Full width on mobile */
  max-width: clamp(500px, 70vw, 736px); /* Max width for large screens */
  min-width: 375px; /* Minimum width for small screens */
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
  padding: clamp(32px, 5vw, 40px); /* Optional padding */
  position: relative; /* Allows absolute positioning of the image */
}

img {
  /* max-width: 100%;
  height: auto; */
  border-radius: 24px;

  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any default inline spacing */
}

h1 {
  margin-top: var(--spacing-500);
  margin-bottom: var(--spacing-300);
  font-size: clamp(2rem, 4vw, 2.5rem);
  color: var(--stone-900);
}

#introduction {
  color: var(--stone-600);
  font-size: 1rem;
  margin-bottom: var(--spacing-400);
}

#preparation-time {
  background-color: var(--rose-50);
  padding: var(--spacing-300);
  border-radius: 24px;
}

#preparation-time h3 {
  color: var(--rose-800);
  display: inline-block;
  margin: 0;
}

ul {
  color: var(--stone-600);
  list-style: none; /* Remove default bullets */
  padding-left: 0; /* Remove padding */
  margin: 16px 0px 0px 10px;
}

li {
  position: relative; /* Required for positioning pseudo-elements */
  padding-left: 30px; /* Space for custom bullet */
  margin-bottom: 20px; /* Adjust this value to set the distance */
}

li::before {
  content: "\2022"; /* Unicode for bullet character */
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 20px; /* Adjust bullet size */

  transform: translateY(-50%); /* Vertically centers the bullet */
}

#preparation-time li::before {
  color: var(--rose-800);
}

li:last-child {
  margin-bottom: 0px;
}

h2 {
  color: var(--brown-800);
  margin-top: 32px;
}

#ingredients li::before {
  color: var(--brown-800);
}

hr {
  background-color: var(--stone-150);
  height: 1px;
  border: none;
  margin: 32px 0px 32px 0px;
}

/* ul,
ol {
  text-align: left;
  margin: 20px;
} */

ol li b {
  display: inline-block;
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border-right: 1px solid #333;
  padding: 10px;
}

td:last-child,
th:last-child {
  border-right: none;
}

/* Remove border radius on mobile screens */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .container {
    border-radius: 0; /* Remove border radius on mobile */
    margin: 0;
    padding-top: 0;
    /* box-sizing: content-box; */
  }

  .container img {
    border-radius: 0;
    width: 100vw;
    height: auto;
    margin-left: calc((-100vw + 100%) / 2);
    /* margin-left: -32px; */
  }
}
